.view-blog-container {
  max-width: 700px;
  margin: 50px auto;
  background: #f4f6fb;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  font-family: 'Segoe UI', sans-serif;
  
}

.view-blog-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #222;
  font-size: 28px;
}

.view-blog-container p {
  color: #423f3f;
  line-height: 1.6;
  margin-bottom: 15px;
  font-size: 16px;
}

.view-blog-container .author {
  font-style: italic;
  
  color: #222;
  margin-bottom: 20px;
  font-size: 28px;
}

.view-blog-container img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  margin-top: 20px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.1);
}
.buttons{
  width: 170px;
  font-size: 20px;
  outline: none;
  border: none;
   background: linear-gradient(135deg, #667eea, #764ba2);
  margin-left: 220px;
  margin-top: 20px;
  padding: 10px;
 border-radius: 5px;
 color: white;
 cursor: pointer;
}

@media (max-width:425px) {
  .buttons{
    margin-left: 100px;
  }
}
@media (max-width:375px) {
  .buttons{
    margin-left: 80px;
  }
}
@media (max-width:320px) {
  .buttons{
    margin-left: 50px;
  }
}